<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:oxm="http://www.springframework.org/schema/oxm" 
    xmlns:mongo="http://www.springframework.org/schema/data/mongo" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/oxm 
        http://www.springframework.org/schema/oxm/spring-oxm.xsd
        http://www.springframework.org/schema/data/mongo 
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd ">

	<!--connect-timeout连接超时时间   max-wait-time等待时间  socket-timeoutSocket超时时间-->
	<!-- 注册一个 mongodb实例 -->
	<mongo:mongo host="${mongo.host}" port="${mongo.port}" id="mongo" >
	  	<mongo:options
		     connections-per-host="${mongo.connectionsPerHost}"
		     threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
		     connect-timeout="${mongo.connectTimeout}"
		     max-wait-time="${mongo.maxWaitTime}"
		     auto-connect-retry="${mongo.autoConnectRetry}"
		     socket-keep-alive="${mongo.socketKeepAlive}"
		     socket-timeout="${mongo.socketTimeout}"
		     slave-ok="${mongo.slaveOk}"
		     write-number="1"
		     write-timeout="0"
		     write-fsync="true"/>
	</mongo:mongo>

	<!-- mongo的工厂，通过它来取得mongo实例,dbname为mongodb的数据库名，没有的话会自动创建 --> 
	<mongo:db-factory id="mongoDbFactory" mongo-ref="mongo" dbname="platform-log" />
	
	<!-- mongodb的主要操作对象，所有对mongodb的增删改查的操作都是通过它完成 -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
  		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
	</bean>

</beans>